node_modules
build
.netlify
.svelte-kit
android

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml


src/db/migrations
src/db/scripts/out/

static/~partytown
static/sitemap.xml
static/robots.txt
dev-dist