/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  /* body {
     font-family: 'Roboto', 'Nirmala UI', sans-serif;
  } */
  /* the above approach dos'nt work as Skeleton UI overrides these behaviours */
}

:root [data-theme='wintry'] {
  --base-font-family: 'Roboto', 'Nirmala UI', sans-serif;
  --heading-font-family: 'Roboto', 'Nirmala UI', sans-serif;
}

@font-face {
  font-family: 'ome_bhatkhande_en';
  src:
    url('./fonts/woff2/ome_bhatkhande_en.woff2') format('woff2'),
    url('./fonts/ttf/ome_bhatkhande_en.ttf') format('truetype');
  font-display: swap;
}
