name: TS & Svelte Check

on:
  - push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        name: Setup Bun

      - run: |
          bun install
          bun run check
